MQTT_HOST=your_mqtt_host
MQTT_PORT=1883
MQTT_USER=robot001
MQTT_PASS=your_mqtt_password
ROBOT_ID=001
MQTT_KEEPALIVE=30
MQTT_CLIENT_ID=robot_001_bridge
MQTT_ENABLE_GOAL=false
MQTT_PUBLISH_SCAN_SUMMARY=true
MQTT_HEARTBEAT_INTERVAL=5
